<h1>Component Communication Examples</h1>

<ul>
  <li>{{link-to "Data Fetching" "examples.data-fetching"}}</li>
  <li>{{link-to "Data Massage" "examples.data-massage"}}</li>
  <li>{{link-to "Simple Modal" "examples.simple-modal"}}</li>
  <li>{{link-to "Selection Tracker" "examples.selection-tracker"}}</li>
  <li>{{link-to "Big Number Styler" "examples.big-number-style-manager"}}</li>
  <li>{{link-to "Cachable Property" "examples.cachable-property"}}</li>
  <li>{{link-to "Time Splitter" "examples.time-splitter"}}</li>
</ul>

<small>Version: {{app-version}}</small>
