<h1>Time Splitter</h1>

<div>
  {{input value=this.dateStr readonly=true size=50}}
</div>

<div>
  {{! BEGIN-SNIPPET time-splitter }}
  <TimeSplitter
    @datetime={{this.datetime}}
    @update={{action (mut this.datetime)}}
    as |splitter|
  >
    <input
      type="text"
      value={{splitter.date}}
      onchange={{action splitter.updateDate value="target.value"}}
    >

    <input
      type="text"
      value={{splitter.time}}
      onchange={{action splitter.updateTime value="target.value"}}
    >
  </TimeSplitter>
  {{! END-SNIPPET }}

  <button {{action "updateToNow"}}>Now</button>
</div>

<CodeSnippet @name="time-splitter.hbs" />
