<h1>Cachable Property</h1>

<button
  disabled={{this.updateEphemeralValue.isRunning}}
  onclick={{perform this.updateEphemeralValue}}
>
  Update Value
</button>

{{! BEGIN-SNIPPET cachable-property }}
<CachedProperty @value={{this.ephemeralValue}} as |cachedValue|>
  <dl>
    <dt>Current Value</dt>
    <dd>
      {{#if this.ephemeralValue}}
        {{this.ephemeralValue}}
      {{else}}
        <em>Falsy Value</em>
      {{/if}}
    </dd>

    <dt>Cached Value</dt>
    <dd>
      {{#if cachedValue}}
        {{cachedValue}}
      {{else}}
        <em>Falsy Value</em>
      {{/if}}
    </dd>
  </dl>
</CachedProperty>
{{! END-SNIPPET }}

<CodeSnippet @name="cachable-property.hbs" />
