<h1>Selection Tracker</h1>

{{! BEGIN-SNIPPET selection-tracker }}
<ItemSelector @items={{this.items}} as |selector|>

  <label>
    <MixedCheckbox @checked={{selector.state}} @onClick={{action selector.toggleAll}} />
    {{#if selector.isAllSelected}}
      Select None
    {{else}}
      Select All
    {{/if}}
  </label>

  <ul class="example-list">
    {{#each this.items as |item|}}
      <selector.check @item={{item}} as |isChecked|>
        <li class="example-list-item {{if isChecked "checked"}}">
          <label>
            <input type="checkbox" checked={{isChecked}} onchange={{action selector.toggle item}} >
            {{item.name}}
          </label>
        </li>
      </selector.check>
    {{/each}}
  </ul>
</ItemSelector>
{{! END-SNIPPET }}

<CodeSnippet @name="selection-tracker.hbs" />
